@tailwind base;
@tailwind components;
@tailwind utilities;


body,
:root {
  height: 100%;
  width: 100%;
}

:root {
  --size-space: 24px;
  --logo-space: calc(var(--size-space) + 14px);
  --nav-size: 100px;
}

body {
  background: linear-gradient(0.25turn, #fca5f1, #b5ffff);
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

button.btn:hover {
  background: linear-gradient(0.25turn, #fca5f1, #b5ffff);
}

input:focus {
  color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
